{% extends 'polls/main.html' %}
{% block content %}

    <h1 class="mb-3">{{ question.question_text }}</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger {{ message.info }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post" class="form-group">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <div class="form-check">
                <input
                        type="radio"
                        name="choice"
                        id="choice{{ forloop.counter }}"
                        value="{{ choice.id }}"
                        class="form-check-input">
                <label
                        for="choice{{ forloop.counter }}"
                        class="form-check-label">{{ choice.choice_text }}</label>
            </div>
            <br>
        {% endfor %}
        <input type="submit" value="Vote" class="btn btn-success">
        <a class="btn btn-danger float-right" href="{% url 'polls:index' %}">Back to List of Polls</a>
    </form>

{% endblock %}