{% extends 'polls/main.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">

<h1 class="mb-4 text-center">KU Polls</h1>
<h4>Available Polls</h4>
{% if latest_question_list %}
    <div class="list-group">
    {% for question in latest_question_list %}
        <a href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">{{ question.question_text }}</a>
    {% endfor %}
    </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% endblock %}